/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f2f2f2;
  }
  
  header {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 1rem;
    color: black;
  }

/* button styling */

  button {
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }

  /* icon container styling */
  
  .backpack-icon-container {
    position: relative;
    display: inline-block;
  }
  
  #backpack-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    display: block;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    font-size: small;
    color: white;
  }

  /* Accordion styling */
  .accordion {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .accordion-button {
    width: 90%;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .accordion-button:hover {
    background-color: #4DA167;
  }
  
  .accordion-content {
    margin: 1rem;
    padding-left: 0.7rem;
    text-align:left;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .accordion-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .accordion-content li {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: large;
  }
  
  .accordion-content h4, p {
    padding: 1rem;
  }
  
  .active {
    max-height: 500px;
  }